body{
  
    background-color:rgb(207, 204, 204) ;
}
.container-fluid{
    background-color: rgb(0, 0, 0) ;
  
}
 .navbar-brand, .nav-link{
    color: white !important;
    }
.navbar{
        background-color: rgb(0 0 0) !important;
    }

    .navbar-brand:hover, .nav-link:hover{
        color: rgb(255, 217, 0) !important;
        }
/* Login */
.global-reg h1{
    text-align: center;
    
}
.global-reg{
    display: flex;
    justify-content: center;
}
.formRow2 {
    display: flex;
   flex-direction: column;
   width: 100%;
   align-items: center;
   justify-content: center;
    
}
form{
   
}
.btn{
    display: flex;
    justify-content: center;
}
button:hover{
    display: flex;
    background-color: rgb(255, 217, 0) ;
}
/* footer */
        .footer{
           
            display: flex;
        padding-top: 20px;
        width: 100%;
        position: absolute;
        bottom: 0;
        }
        .footer-link{
          
          background-color:  #1f1f1f;
          color: white;
           
            width: 100%;
        }
        .footer-link2{
            min-height: 220px;
            
            margin-right: -100%;
            width: 27.46%;
            border-right: 2px solid black;
            margin-top: 1.75rem;
        }
        .footer-link2 ul{
            list-style: none;
        }
        .footer-link2 h2{
            padding-left: 1.75rem;
        }